*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#videoBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}
#nave{
	width: 20%;
}
#mainContent{
	border: solid 5px white;
}
#footer{
	border: solid 5px pink;
}
#header ul{
	list-style: none;
}